<!DOCTYPE html>
<html lang="en">

<script id='entry-template' type='text/x-handlebars-template'></script>
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-100076603-1'></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-100076603-1');
</script>

<meta property='og:site_name' content='North by Northwestern Fall 2017 Magazine' />
<meta property='fb:app_id' content='829210430557671'/>
<meta property='og:url' content='http://apps.northbynorthwestern.com/magazine/208/fall/Hangover/BDE/' />
<meta property='og:type' content='article' />
<meta property='og:title' content='The good, the BDE, and the ugly ' />
<!-- <meta property='og:description' content='For these NU icons, confidence is key.' /> -->
<meta property='og:image' content='http:'apps.northbynorthwestern.com/magazine/2017/fall/Hangover/BDE/cover_2000.jpg'' />
<!-- <meta name='author' content='Priyanka Godbole ' /> -->
<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:site' content='@nbn_tweets' />
<meta charset='utf-8'/>
<meta name='viewport' content='width=device-width+ initial-scale=1'>

<title>The good, the BDE, and the ugly  | North by Northwestern Fall 2018 Magazine</title>

<link rel=stylesheet href='http://apps.northbynorthwestern.com/hungry/styles/22738433.main.css'>
<!-- <link rel='stylesheet' href='../../universal.css'>
<link rel='stylesheet' href='style.css'> -->

{% if env == 'production' %}
<link href="../css/main-app.css" rel="stylesheet">
{% endif %}


</head>
<body>
  {% block css %}
  {% if env == 'production' %}
  <link rel="stylesheet" href="../css/main-app.css">
  {% endif %}
  {% endblock %}

<header class='masthead masthead-down'>
  <div class='logo'>
      <a href='//apps.northbynorthwestern.com/magazine/2018/fall/'><img class=nbn-logo src='http://nbn-housing.s3.amazonaws.com/static/img/nbn-logo.png' alt=''></a>
  </div>
</header>
<main>
  <a id='top'></a>
  <article>
      <div class="header-img">
        <img src="http://media.northbynorthwestern.com.s3.amazonaws.com/none">
      </div>
      <p class='photo-byline byline'><a href='' target='_blank'><b></b></a> / <i>North by Northwestern</i></p>

      <header class='article-meta'>
          <div class='headline'>
              <h1 class=''>The good, the BDE, and the ugly </h1>
              <h2 class='dek'>For these NU icons, confidence is key.</h2>
              <h3 class='byline'>By <a href='http://www.northbynorthwestern.com/author/priyankagodbole/' target='_blank'>Priyanka Godbole </a></h3>
          </div>
      </header>

      <div class='blackboard'>
          <p>They say size matters, but thanks to meme culture, frat bros everywhere can relax. Social media connoisseurs know it as soon as they see it. Ariana Grande releasing “thank u, next” during the newest season of SNL, Jeff Goldblum’s existence, Edna Mode’s haircut; they all have one thing in common — Big Dick Energy.</p>


          <p>BDE isn’t about size. It’s about swagger. All it takes is having the kind of je ne sais quoi that comes across as self-confident and not as cocky asshole. Men are not the only ones that can be endowed with BDE, either. In this day and age, it’s easy to point out examples of women who exude such a quality — Rihanna, Ruth Bader Ginsburg, Lady Gaga.</p>


          <p>The concept emerged from a certain SNL comedian who is the former fiancé of the aforementioned pop star. Pete Davidson may have coined the term, but the meme has now taken on a life of its own.</p>


          <p>One of the major keys of Big Dick Energy is that it can turn up in unusual people, places or things — even at Northwestern University. NBN ranked Northwestern icons’ BDE using veggies as a scale from puny to massive, because what else? Without further ado, here is NBN’s guide to BDE at NU.</p>



        <p class="section-hed">Ryan Fieldhouse: Baby carrot</p>

          <p>For blatantly overcompensating and failing to deliver.</p>



        <p class="section-hed">Willie the Wildcat: Radish</p>

          <p>Willie gets brownie points for pumping up the crowds, and being the “hottest mascot in the Big 10” (according to my roommate). But taking into consideration his creepy, anthropomorphic paws that make even the best of us feel dead inside, he isn’t going to rank high on the BDE list anytime soon.</p>



        <p class="section-hed">George R.R. Martin: Zucchini</p>

          <p>Tyrion Lannister might be small, but there’s no way in hell George R.R. Martin’s energy is. The audacity of this man to keep millions of fans across the globe on hold every day while taking years to finish his final book is truly outrageous. One taught me patience ...</p>



        <p class="section-hed">Julia Louis-Dreyfus: Squash</p>

          <p>Thankfully a better mother in real life (@ charlie_hall) than on Veep, anyone who can make a president look good right now must truly have a chutzpah that most of us cannot muster.</p>



        <p class="section-hed">Meghan Markle: Eggplant</p>

          <p>For seducing her way into royalty, being a theatre major during her time at NU, currently carrying the newest royal baby in her womb and putting the “sex” in Duchess of Sussex.</p>




      </div>
  </article>

  <footer class='related-articles related-total-2' id='related-articles'>
     <h1>Related articles</h1>
      <div class='related-articles-row related-total-2'>
          <a class='related-article-item item-1' href='http://www.northbynorthwestern.com/story/relationship-sluts-make-for-pain-in-the-ass-friend/' target='_blank'>
              <h1 class='head'>Relationship sluts make for pain-in-the-ass-friends
              </h1>
              <p class='byline'>By North by Northwestern Staff</p>
              <p class='origin'>February 2018</p>
          </a>
          <a class='related-article-item item-2' href='http://www.northbynorthwestern.com/story/views-on-sex/' target='_blank'>
              <h1 class='head'>Views on Sex: Part 1
              </h1>
              <p class='byline'>By Arielle Schwartz</p>
              <p class='origin'>February 2016</p>
          </a>
      </div>
  </footer>


  </main>

  <footer class='nbn-footer'>
  <div class='footer-block'>
  <div class='footer-item footer-left'>
      <p>Produced by <b>Audrey DeBruine</b> for North by Northwestern</p>
  </div>
  <div class='footer-item footer-center footer-links'>
      <a data-scroll data-options='{'updateURL': false}' href='#top'>Back to top</a>
      <a href='../../index.html'> &laquo; Back to magazine </a>
  </div>
  <div class='footer-item footer-right'>
    <p>&copy; North by Northwestern, December 6, 2018.</p> <p>All rights reserved.</p>
  </div>
  </div>
  </footer>

  {% block js %}
  <script type="text/javascript" src="../js/main-app.bundle.js"></script>

  {% endblock %}
</body>
</html>
