<!DOCTYPE html>
<html lang="en">

<script id='entry-template' type='text/x-handlebars-template'></script>
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-100076603-1'></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-100076603-1');
</script>

<meta property='og:site_name' content='North by Northwestern Fall 2017 Magazine' />
<meta property='fb:app_id' content='829210430557671'/>
<meta property='og:url' content='http://apps.northbynorthwestern.com/magazine/208/fall/Dance Floor/this-is-fine/' />
<meta property='og:type' content='article' />
<meta property='og:title' content='This is fine. ' />
<!-- <meta property='og:description' content='How do we grapple with unhappiness within a student body that considers it a foregone conclusion?' /> -->
<meta property='og:image' content='http:'apps.northbynorthwestern.com/magazine/2017/fall/Dance Floor/this-is-fine/cover_2000.jpg'' />
<!-- <meta name='author' content='Rachel Hawley ' /> -->
<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:site' content='@nbn_tweets' />
<meta charset='utf-8'/>
<meta name='viewport' content='width=device-width+ initial-scale=1'>

<title>This is fine.  | North by Northwestern Fall 2018 Magazine</title>

<link rel=stylesheet href='http://apps.northbynorthwestern.com/hungry/styles/22738433.main.css'>
<!-- <link rel='stylesheet' href='../../universal.css'>
<link rel='stylesheet' href='style.css'> -->

{% if env == 'production' %}
<link href="../css/main-app.css" rel="stylesheet">
{% endif %}


</head>
<body>
  {% block css %}
  {% if env == 'production' %}
  <link rel="stylesheet" href="../css/main-app.css">
  {% endif %}
  {% endblock %}

<header class='masthead masthead-down'>
  <div class='logo'>
      <a href='//apps.northbynorthwestern.com/magazine/2018/fall/'><img class=nbn-logo src='http://nbn-housing.s3.amazonaws.com/static/img/nbn-logo.png' alt=''></a>
  </div>
</header>
<main>
  <a id='top'></a>
  <article>
      <div class="header-img">
        <img src="http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2018/12/03/This_is_fine_banner.png">
      </div>
      <p class='photo-byline byline'><a href='' target='_blank'><b></b></a> / <i>North by Northwestern</i></p>

      <header class='article-meta'>
          <div class='headline'>
              <h1 class=''>This is fine. </h1>
              <h2 class='dek'>How do we grapple with unhappiness within a student body that considers it a foregone conclusion?</h2>
              <h3 class='byline'>By <a href='http://www.northbynorthwestern.com/author/rachelhawley/' target='_blank'>Rachel Hawley </a></h3>
          </div>
      </header>

      <div class='blackboard'>
          <p>Leonard Bernstein dropped dead from a heart attack five days after retiring from his career as the most celebrated conductor of the twentieth century. He had grown erratic and melancholy in the later years of his life, racked with grief and guilt from the death of his wife more than a decade earlier. But to the public, and even many of his close friends, he betrayed little sign of inner turmoil.</p>


          <p>I thought about this as I warmed up onstage last winter amid the thrum of an orchestra, waiting for the conductor to enter from offstage — the opening to our concert program was the famous overture from Bernstein’s Candide. I thought about it throughout the concert, and again later that evening, when I called my mother to tell her that I wouldn’t be returning to Northwestern in the spring.</p>


          <p>***</p>


          <p>A year ago, I joined a public Facebook group called “Northwestern places i’ve cried.” At the time, it had several hundred members, and now has a membership of 2,665. It’s part of the subcultural renaissance of college-centric Weird Facebook groups that have popped up over the past few years. Yale, Stanford, Oberlin and Rice all have “Places I’ve Cried” groups, where students post the locations they’ve cried on campus as a tongue-in-cheek, commiseratory joke.</p>


          <p>Northwestern’s iteration began with similar posts —“Norbucks,” “lost in Tech,” “crossing Sheridan,” “sober at Cheesie’s.” But as fall became winter, and winter dragged on, the tenor of “Northwestern places i’ve cried” changed. The light- hearted entries were replaced by paragraphs of urgent confessions about the constant barrage of academic and extracurricular stress, isolating loneliness, social anxiety and mental health issues. The comments on these posts filled up quickly with support and affirmation from friends and strangers alike. I kept finding myself typing out comments that I would delete before hitting ‘send,’ uncertain of how to offer comfort to a stranger over the internet.</p>


          <p>Productivity culture. The phrase has been used to describe the pervasive pressure to be overcommitted and overworked that seeps into every exposed corner of our lives. It was highlighted by name in The Daily Northwestern last March, when students complained about professors’ unwillingness to cancel class or postpone assessments immediately following the active gunman scare, after students had spent over an hour on lockdown fearing for their lives. In its less egregious form, productivity culture manifests in fifth classestaken to stave off guilt about not “challenging yourself,” in the innumerable constellations of mind-bending dual degree/triple major/double minor/certificate combinations, and in arm-length lists of extracurricular affiliations and leadership positions. And it’s all laughed off with a smile and a “well, that’s Northwestern for you!”</p>


          <p>Yet a not-insignificant portion of our student body is, on a day- to-day level, genuinely unhappy. On Facebook, it’s close to the surface; outside of the internet, the burden of shared sadness reveals itself in little, everyday things, like conversations with friends, or split seconds of eye contact with a stranger who has clearly been crying as you cross paths on the sidewalk.</p>


          <p>***</p>


          <p>There was never a question of whether my older brother would attend college, and at first, a degree seemed inevitable for me too. But by the time I was a high school senior mulling over applications, “if” began to insert itself into conversations, standing forebodingly in the shadow of “where.” For decades, my parents sacrificed for our education, every penny dedicated to the priority that their children attend excellent schools. But I was not well-positioned for academic success; I had poorly-managed mental illness and a learning disability, and generally found the experience of school to be pedantic and frustrating. I submitted one application and let deadlines for the others pass by, unable to find an answer to “Why ____?”</p>


          <p>The letter from Northwestern arrived, and I accepted. I had ostensibly studied SAT vocabulary, but couldn’t find the words to express to my family, friends, and teachers that I wasn’t ready for college, that I might never be ready.</p>


          <p>In the three and a half years since, I have changed degree programs and majors, dropped countless classes, joined clubs and moved into an apartment the size of a small storage unit. And I have only recently been able to articulate what I think I’ve known on some level since the beginning — college, at least for me, was probably a mistake.</p>


          <p>A big part of what prevented me from articulating this knowledge was a force of culture, one that made itself increasingly clear to me as I scrolled through “Northwestern places i’ve cried” posts. It’s more than productivity culture. Let’s call it misery culture — one that normalizes the idea that de facto unhappiness and stress is the necessary cost of getting through college. That constant frustration in our academic, extracurricular, and social lives shouldn’t compel us to make major changes, because we don’t deserve more than to be sad and frustrated.</p>


          <p>Maybe this is true at elite institutions more generally. The stakes are higher than ever before, and plenty of people you know are even more miserable than you and press on with their daily grind regardless. So the available options that might actually improve your quality of life — changing your major, leaving behind extracurricular commitments that don’t bring you fulfillment, dropping that goddamn class, maybe transferring altogether — seem unthinkable.</p>


          <p>Whether those options are readily available to you is in many ways a matter of privilege; for students from low-income backgrounds, first-generation college students, non-citizens, and the like, there is often little room for error or change of heart. But even if you do have the option — to prioritize your quality of life over your accomplishments, to strip some of that odious “AND” from your DNA — you’ll still find yourself swimming upstream of a social current.</p>


          <p>Misery culture thrives on the moralization of our shared sadness. We’ve been asked to believe, subconsciously or not, that being deeply unhappy during college (and deeply in debt for a decade or two afterwards) is a form of paying dues toward a better future. Without that belief, the jig would be up, the exploitation laid bare. So, naturally, what follows is an unspoken judgment of those who aren’t willing to partake in elective agony via precipitously high achievement standards: don’t they know that in ten years, I’ll be rewarded for this suffering, and they’ll be left behind?</p>


          <p>This is bullshit, of course — a line of magical thinking that inevitably leads to disappointment. But hell, if it isn’t enticing.</p>


          <p>***</p>


          <p>One of the most famous dogs on the internet is not a flesh-and-blood pupper, but rather, a cartoon enshrined in memery. “This is Fine,” as it has become known, is an iconic two-panel excerpt from a comic by KC Green in which a dog sits in a room surrounded by flames and billowing smoke, and announces to himself, “This is fine.”</p>


          <p>It’s hard to overstate the online ubiquity of “This is Fine,” particularly in the two years since the 2016 election. The feeling of pressing through a whirlwind of chaos is cathartically universal. The concluding panels of the comic, excluded from the meme version, show the dog being promptly burned to a crisp.</p>


          <p>The issue, for us and for this ill-fated dog, is not the presence of misery, frustration, hopelessness, and chaos in our lives, but rather, the persistence of those things. Life without sadness would be impossible, but life with so much compounding sadness that we lose the perspective necessary to see it as anything other than ordinary and acceptable is disastrous.</p>


          <p>I left school, briefly, but at the time, indefinitely. When I told people, most assumed that I was in the throws of a mental health crisis of some kind (some even congratulating me, awkwardly, for “getting help”). In reality, I was within the upper bounds of regular-Northwestern sad, but that no longer seemed acceptable to me, not as a foregone conclusion, anyway. I found a job to hold me over for several months, and eventually, I re-enrolled for my senior year.</p>


          <p>College, for me, was likely a mistake, but mistakes are probably a better entry route to one’s place in the world than meticulous execution, anyway. As of now, I don’t know if I’m going to graduate this spring, or if I’ll have to stay a little bit longer. That’s alright by me — I feel optimistic about the future for the first time in a long while. This is fine.</p>




      </div>
  </article>

  <footer class='related-articles related-total-2' id='related-articles'>
     <h1>Related articles</h1>
      <div class='related-articles-row related-total-2'>
          <a class='related-article-item item-1' href='http://apps.northbynorthwestern.com/magazine/2018/spring/features/referral-to-nowhere/index.html' target='_blank'>
              <h1 class='head'>Referral to nowhere
              </h1>
              <p class='byline'>By Rachel Hawley </p>
              <p class='origin'>June 2018</p>
          </a>
          <a class='related-article-item item-2' href='http://www.northbynorthwestern.com/story/sufferinginsilencespring2012/' target='_blank'>
              <h1 class='head'>Suffering in silence
              </h1>
              <p class='byline'>By Anca Ulea</p>
              <p class='origin'>May 2012</p>
          </a>
      </div>
  </footer>


  </main>

  <footer class='nbn-footer'>
  <div class='footer-block'>
  <div class='footer-item footer-left'>
      <p>Produced by <b>Audrey DeBruine</b> for North by Northwestern</p>
  </div>
  <div class='footer-item footer-center footer-links'>
      <a data-scroll data-options='{'updateURL': false}' href='#top'>Back to top</a>
      <a href='../../index.html'> &laquo; Back to magazine </a>
  </div>
  <div class='footer-item footer-right'>
    <p>&copy; North by Northwestern, December 6, 2018.</p> <p>All rights reserved.</p>
  </div>
  </div>
  </footer>

  {% block js %}
  <script type="text/javascript" src="../js/main-app.bundle.js"></script>

  {% endblock %}
</body>
</html>
