<!DOCTYPE html>
<html lang="en">

<script id='entry-template' type='text/x-handlebars-template'></script>
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-100076603-1'></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-100076603-1');
</script>

<meta property='og:site_name' content='North by Northwestern Fall 2017 Magazine' />
<meta property='fb:app_id' content='829210430557671'/>
<meta property='og:url' content='http://apps.northbynorthwestern.com/magazine/208/fall/Features/bienen-blues/' />
<meta property='og:type' content='article' />
<meta property='og:title' content='Bienen Blues' />
<!-- <meta property='og:description' content='As the jazz studies program celebrates its 20th anniversary, NBN takes a look back at its past.' /> -->
<meta property='og:image' content='http:'apps.northbynorthwestern.com/magazine/2017/fall/Features/bienen-blues/cover_2000.jpg'' />
<!-- <meta name='author' content='Duncan Agnew' /> -->
<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:site' content='@nbn_tweets' />
<meta charset='utf-8'/>
<meta name='viewport' content='width=device-width+ initial-scale=1'>

<title>Bienen Blues | North by Northwestern Fall 2018 Magazine</title>

<link rel=stylesheet href='http://apps.northbynorthwestern.com/hungry/styles/22738433.main.css'>
<!-- <link rel='stylesheet' href='../../universal.css'>
<link rel='stylesheet' href='style.css'> -->

{% if env == 'production' %}
<link href="../css/main-app.css" rel="stylesheet">
{% endif %}


</head>
<body>
  {% block css %}
  {% if env == 'production' %}
  <link rel="stylesheet" href="../css/main-app.css">
  {% endif %}
  {% endblock %}

<header class='masthead masthead-down'>
  <div class='logo'>
      <a href='//apps.northbynorthwestern.com/magazine/2018/fall/'><img class=nbn-logo src='http://nbn-housing.s3.amazonaws.com/static/img/nbn-logo.png' alt=''></a>
  </div>
</header>
<main>
  <a id='top'></a>
  <article>
      <div class="header-img">
        <img src="http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2018/12/04/Jazz_banner.png">
      </div>
      <p class='photo-byline byline'><a href='' target='_blank'><b></b></a> / <i>North by Northwestern</i></p>

      <header class='article-meta'>
          <div class='headline'>
              <h1 class=''>Bienen Blues</h1>
              <h2 class='dek'>As the jazz studies program celebrates its 20th anniversary, NBN takes a look back at its past.</h2>
              <h3 class='byline'>By <a href='http://www.northbynorthwestern.com/author/duncanagnew/' target='_blank'>Duncan Agnew</a></h3>
          </div>
      </header>

      <div class='blackboard'>
          <p>When Adegoke Steve Colson came to Northwestern as an applied piano major over 50 years ago, he realized that his greatest passion — jazz — was a considerable problem.</p>


          <p>After arriving on campus in 1967 as the only African American undergraduate in the School of Music, Colson spent hours every day searching for an open practice room. Without the luxury of the recently built Ryan Center for the Musical Arts, Colson competed with other music majors for the limited number of rooms. When he finally found one, he would work through scales, exercises and classical pieces for his courses in the Northwestern School of Music. To treat himself at the end of a taxing practice session, Colson would crack open a jazz piece by one of the big-name artists like John Coltrane, Miles Davis or Dizzy Gillespie.</p>


          <p>At the time, the music school didn’t include a jazz department, but Colson had been practicing the genre since he was 10. Determined to bring jazz to Evanston at a time when Chicago sat at the top of the industry, he and fellow student-musician Chico Freeman started a jazz band called The Life and Death Situation.</p>


          <p>The School of Music, though, wasn’t a fan of these extracurricular activities.</p>


          <p>“I would find a room, and I’d start playing Bach Inventions — that’s what I was working on at the time. And if I switched off and started playing jazz, people would immediately pound on the door,” Colson says. “I mean, they would start pounding on the wall like ‘what are you doing?’ So, yeah, it was like a strict thing that that’s not what you do here.”</p>


          <p>This fall, Bienen is celebrating 20 years of undergraduate jazz studies. In 1998, former Bienen Dean Bernard Dobroski and Professor Don Owens collaborated to set up a jazz curriculum. However, Northwestern jazz has faced its fair share of obstacles, including the disbandment of the program for two years in the mid-2000s. In many ways, jazz is an oppressed African American tradition that struggled for decades to break into the curriculum at premier music schools like Bienen because of its reputation as night-club music, according to Vanessa Tonelli, a current Northwestern musicology PhD candidate.</p>



        <p class="section-hed">Jazz and Society: Why jazz wasn’t considered academic</p>

          <p>Between the 1920s and 1960s, jazz grew in popularity as music that was almost exclusively performed by Black artists, according to Dobroski. While people enjoyed the style, jazz remained taboo among academic elites.</p>


          <p>“Media was not advertising it,” Dobroski says. “You know, people liked it. It was music of Black and non-white people.”</p>


          <p>Tonelli says it’s important to consider factors like the history of Evanston and the way in which the Chicago jazz scene rose in popularity primarily as a type of entertainment influenced by the civil rights movement.</p>


          <p>“[Jazz] largely follows this progress narrative of being just an entertainment form, of being a dance hall, club kind of music,” Tonelli says. “That’s what jazz was, and therefore wasn’t taken seriously by the university system, by academia in general.”</p>


          <p>According to Dobroski, although jazz was consistently belittled because of this strictly club-music perception of the art, many of the classics shared similar origins.</p>


          <p>“It was really hard to break in because it was seen as ballroom music and not serious music,” Dobroski says. “But believe me, I bet you a lot of classical music was written when people were drunk and sitting in bars.”</p>


          <p>Slowly, that ballroom-music narrative began to change after the University of North Texas established the first undergraduate jazz program in 1947 thanks to a graduate student who proposed a jazz curriculum in his thesis. People who grew up listening to jazz in the 1920s and ‘30s demanded the expansion of jazz in academia as they entered adulthood, Tonelli says.</p>


          <p>Still, Northwestern faced unique roadblocks to the development of jazz due to the nature of both the school and the surrounding Evanston community. For decades, Evanston was a conservative bastion of religiosity that emphasized a strict moral code, according to Tonelli. The city was a dry town for many of the same years that jazz was thriving in urban areas around the country. Since jazz based itself around the nightclub atmosphere, it struggled to find an audience north of Chicago in spite of its ubiquity in downtown clubs.</p>


          <p>“Things like [Evanston’s conservatism] don’t lend itself towards playing jazz regularly,” Tonelli says. “They don’t lend itself for jazz musicians to make a career here [in Evanston].”</p>


          <p>On top of that conservatism being unaccommodating toward jazz at Northwestern, this traditional culture led students to frequently face racism and prejudice on campus. Al From, the Editor of The Daily Northwestern in 1964 and 1965, says that he and his staff uncovered an admissions system at Northwestern that limited the number of minorities whom the University accepted every year.</p>


          <p>“The story we broke was that there were quotas on how many African Americans and Jews and Catholics could get in,” From says. “I’m not exactly sure when that ended, but the director of admissions was moved out.”</p>


          <p>In 1964, the United States Department of State invited a Northwestern student jazz ensemble on a sponsored tour of Latin America, as part of a long-standing effort to send jazz musicians abroad.According to an article published in The Daily Northwestern at the time, Vice President and Dean of Faculties Payson S. Wild sent a letter declining the invitation to the director of the Office of Cultural Presentations of the Department of State.</p>


          <p>In the letter, Wild justified the decision by stating that the band operated outside the purview of the University curriculum, and that there was no regular faculty member to accompany the group on the tour. “We do hope that in the future it will be possible for you to invite a more representative group from the music school, one which will truly reflect the academic program of the University,” Wild wrote.</p>


          <p>The following week, The Daily ran an editorial bashing the University for refusing to allow the jazz band to partake in such an opportunity. As the piece pointed out, Northwestern still allowed the football team to travel across the Midwest every weekend for competitions even though the group didn’t “reflect the academic program of the university.”</p>




          <p>“Perhaps the officials are a little bit embarrassed that the group of Northwestern students invited to make the tour developed on its own initiative rather than under direct tutelage of the music faculty,” the editorial concluded.</p>


          <p>When Colson heard the story, he seemed less than surprised.</p>


          <p>“The idea that you restrict people from exercising the talent that they have because it’s not in line with what you want to promote, that’s the problem,” Colson says. “You get so many people that have a lot of talent, but it has to be devoted to this one model because somebody else external to them says this is the model that they want.”</p>


          <p>Rufus Reid, a bass major who graduated in 1971 and formed his own jazz band at NU, argues that the separation between jazz and the academic program that Wild referred to in his letter to the State Department stems from a lack of understanding.</p>


          <p>“Most people don’t like anything they don’t understand,” Reid says. “As far as I’m concerned, people still don’t understand jazz and what we do and how we do it.”</p>


          <p>Colson even recalls knowing more about jazz than the instructor who founded a Northwestern jazz band while he was a student. The conductor told Colson not to play any blues in his audition for that band, but he ended up mistaking Colson’s jazz choice for a blues piece.</p>


          <p>“It was kind of a problem with me anyway, because he just exposed that he didn’t know the music,” Colson says. “He’s here as an instructor, and he doesn’t know the difference between a blues form and a popular song, and that’s one of the reasons that he kept me out [of the band].”</p>


          <p>After both Colson and Freeman were denied the chance to join this ensemble, the administration told them to focus on their academic technique instead, according to Colson.</p>


          <p>“The school said, ‘We want you to be proficient in terms of the classical studies before you can get into the jazz band,’” Colson says.</p>


          <p>In 1971, when Reid performed his senior recital in front of his classmates and professors, he was one of the first students to include a jazz section in his program. Still, he had to demonstrate sound technical skills across a variety of classical repertoire before doing so.</p>


          <p>Reid says that no faculty during his time as an undergraduate at Northwestern had the skills to further train him in jazz.</p>


          <p>“I didn’t go there to have them teach me how to play jazz, ’cause they couldn’t have done that anyway,” Reid says. “It didn’t exist at that time.”</p>


          <p>Several decades later, Dobroski heard similar stories about the suppression of jazz at Northwestern’s music school, lauded as one of the best in the country. “You were not even allowed to practice popular music or jazz music,” Dobroski says. “If a faculty person’s walking past the room, he’d come in and threaten you with ‘You can’t practice that kind of music. Do it at home.’”</p>



        <p class="section-hed">The formation of jazz at NU</p>

          <p>In 1979, Don Owens took over the fledgling jazz program after being named assistant director of bands and associate professor of conducting. Two years later, he established the Northwestern Jazz Festival, a yearly event that featured guest artists and master classes on topics like improvisation.</p>


          <p>Over the next decade, Owens added courses such as Advanced Jazz Writing to the music school curriculum. In 1988, he even led the Northwestern Jazz Ensemble on a tour of major cities across the East Coast.</p>


          <p>By 1991, jazz pianist Michael Kocour joined the faculty at the request of several students. According to “Advancing Music for a Century,” a book by Heather Rebstock about the development of music at Northwestern, “the first class [Kocour] offered attracted so many students that it had to be moved twice to larger locations.”</p>


          <p>When Dobroski became the dean of the music school in 1990, he took matters into his own hands, motivated by his own reliance on jazz as a PhD candidate at Northwestern in the early 1970s.</p>




          <p>Throughout his time as a student in Evanston, he paid for his tuition with the money he earned performing in Chicago.</p>


          <p>In 1998, Owens and Dobroski worked together to expand the jazz program into an official undergraduate jazz studies major, nine years after Owens initially formed a master’s program in jazz pedagogy. The music faculty unanimously voted in favor of the resolution.</p>


          <p>Toni-Marie Montgomery succeeded Dobroski as dean in 2003, and chaos ensued when she axed the undergraduate jazz studies major following Owens’ retirement in 2005. According to an article in the Chicago Tribune on December 7, 2007, Montgomery struggled to find a qualified replacement, and none of the top applicants accepted the position.</p>


          <p>The search for a director continued, but still, no candidates emerged for months.</p>


          <p>“In my opinion, they didn’t look good enough,” Reid says. “Especially in 2005, there were certainly people who were qualified to do that, but they may not have been qualified to be called a professor at Northwestern.”</p>


          <p>Part of the problem, as Colson and Reid note, may have been a high demand among music schools for professors with master’s degrees or doctorates. The issue was that many top musicians didn’t have degrees, Colson says.</p>


          <p>Reid points out that while there are still only a few names in jazz who have doctorates, plenty of talented musicians and educators would have been qualified to lead the program in Evanston.</p>


          <p>“They might have been looking for a doctorate or something like that, and there’s a handful of doctorates in jazz studies even to this day,” Reid says.</p>


          <p>Finally, after two years, in the winter of 2007, Montgomery caught a break when Victor Goines, former jazz artistic director at the Juilliard School and saxophonist for Jazz at Lincoln Center in New York, accepted the position. However, not a single former professor within the department returned when Goines brought the program back to Bienen.</p>


          <p>“When all this other stuff went down, all those people who were keeping the thing moving and teaching as adjuncts, they got let go after they got Victor in there, and he changed the whole thing,” Reid says. “It was a little funny how it was done, in my opinion.”</p>


          <p>Goines declined multiple requests to comment on the current jazz program at Northwestern.</p>



        <p class="section-hed">Current State of the program</p>

          <p>Goines has established a more consistent jazz studies program over the past decade, something that both alumni like Reid and current students appreciate. He tends to emphasize professionalism as an educator in order to continue building up a relatively new department within Bienen.</p>


          <p>“I can reasonably surmise that maybe the program wasn’t taken seriously before, and now Goines makes it a priority for it to be taken seriously,” says senior trumpet player Sam Wolsk.</p>


          <p>According to senior jazz studies major Louis Danowsky, one of the best features of the jazz program at Northwestern is Goines’ ability to bring in famous artists for guest performances. When Danowsky and Wolsk were first-years, for example, renowned saxophonist Branford Marsalis joined the jazz ensemble for a weekend recital, even offering one-on-one instruction. The attraction that Marsalis added to the band resulted in a sold out Pick-Staiger Concert Hall ahead of the concert, by far the largest crowd that most players have performed in front of during their time in Evanston, Danowsky says.</p>


          <p>One issue that current jazz studies students face is that most donations to Bienen are earmarked for the classical programs, according to Wolsk. While Goines encounters difficulty scheduling more than three jazz ensemble concerts per year, Bienen’s Symphonic Band enjoyed a tour of Asia this past spring break.</p>


          <p>“I don’t think we’re the target of even a fraction as much money,” Wolsk says. “Even to go to Chicago, I think Mr. Goines has to jump through some budgetary hoops.”</p>


          <p>This year, however, the big band already has two more performances on the schedule than the typical lineup, and the jazz small groups, formally known as combos, usually perform twice per quarter.</p>


          <p>When Wolsk and Danowsky started their time at Northwestern, there were five other first-years in the jazz studies major. Only three seniors remain in the department after four others dropped the program.</p>


          <p>Wolsk attributes that trend to the fact that many dual-degree jazz students end up deciding to focus on their other major. Still, he says most of them remain involved in jazz in some capacity, whether that be through musical theatre, their own band or otherwise.</p>


          <p>Last year, two first-years majoring in jazz studies transferred to other jazz schools at the University of Southern California and the Manhattan School of Music. According to Wolsk, their philosophies for music education didn’t line up with the way Goines runs the program at Northwestern. He says that these transfers out of Northwestern are an anomaly, whereas jazz students moving from Bienen to Weinberg is much more common.</p>




          <p>Although people like Reid have their reservations about the faculty turnover, Wolsk and other students say that some of the new, big-name instructors have brought talented jazz players to Northwestern thanks to the allure of these high-profile professors. An influx of 10 first-year students this fall has the department looking forward to a bright future.</p>


          <p>Wolsk and others praise Goines for his accessibility and approachability. Even while he’s on tour, he frequently Skypes into rehearsals.</p>


          <p>“[Goines] is really good about encouraging dialogue with us,” Wolsk says. “When he’s there, he always wants us to tell him what we think, and one of the things he hears the most is that we should play more, that we should have more opportunities.”</p>


          <p>For Danowsky, the camaraderie cultivated within the program is its best quality.</p>


          <p>“Everyone is looking out for each other, and I really value how there’s not a lot of cutthroat competition,” Danowsky says. “Everyone’s friends and just trying to push each other in a positive way.”</p>



        <p class="section-hed">Struggles with Diversity</p>

          <p>Today, both the jazz and classical programs lack diversity. After the only Black jazz studies major transferred out of Northwestern this past year, no Black students remain in the program, according to Wolsk.</p>


          <p>“It’s all white this year, which closely resembles all of Bienen, too,” Wolsk says. “I don’t even think that white people are overrepresented in our jazz band compared to the rest of Bienen.”</p>


          <p>Danowsky also notes the correlation between diversity in jazz and financial factors. Since Northwestern doesn’t shell out the kind of merit scholarships that public schools or music conservatories might, those other institutions attract a much more racially diverse set of individuals.</p>


          <p>“Music often involves a huge personal investment among families,” Danowsky says. “And so you happen to see more often that people of higher socioeconomic status study music and pursue music in college.”</p>


          <p>There is also a lack of gender diversity in Bienen, especially within the jazz community. This year, three women are involved in the jazz program out of over 30 students, according to Danowsky. First-year jazz studies major Siobhan Esposito doesn’t find this number surprising – she thinks it’s indicative of the entire jazz scene, where women were often confined to the vocalist role for many years.</p>


          <p>Fellow first-year Robin Steuteville, Esposito’s classmate and a double bass performance major, however, was particularly disappointed by this feature of Bienen when she arrived on campus.</p>


          <p>“In general, the jazz program here is great, but one thing that I really have noticed is that it isn’t as diverse as I wish it were in a lot of different factors, and one of them is the amount of girls in the program,” Steuteville says.</p>


          <p>One reason for the lack of both racial and gender diversity within Bienen and across much of the professional classical music industry, Steuteville says, is the intimidation factor of being in the minority in these programs.</p>


          <p>Gender discrimination also creates a higher-stakes environment for women in the jazz industry, according to Tonelli. To gain the respect of other musicians, women have to spend much more time and effort proving their worth than men do.</p>


          <p>“Jazz has always been dominated by men, and when a woman wants to play jazz, she gets questioned,” Tonelli says. “And if she proves her worth, then she has to be really good to be taken seriously.”</p>


          <p>While Steuteville has seen a general increase in diversity when it comes to bands at lower levels, the overwhelmingly white male majority at prestigious music schools and in professional ensembles continues to hinder progress.</p>




          <p>“You see more people willing to try or continue into middle school or continue into high school, but there’s definitely also the systematic problem of when they look up and they can’t see role models that they can connect with,” Steuteville says. “Then, they’re more likely to stop playing their instrument, or to give up or to feel like they can’t be a part of this.”</p>


          <p>The “this” to which Steuteville refers is an opportunity to join a collaborative program that’s continuing to improve the music school that once rejected Colson’s jazz aspirations.</p>


          <p>“It’s a very supportive department. I mean, everyone loves to see you succeed, which is great, and I think you kind of need that for the art form,” Esposito says. “’Cause if people are trying to bring each other down, it’s not going to succeed.”</p>




      </div>
  </article>

  <footer class='related-articles related-total-2' id='related-articles'>
     <h1>Related articles</h1>
      <div class='related-articles-row related-total-2'>
          <a class='related-article-item item-1' href='http://www.northbynorthwestern.com/story/weinberg-alumnus-will-butler-talks-civic-engagemen/' target='_blank'>
              <h1 class='head'>Weinberg alumnus Will Butler talks civic engagement
              </h1>
              <p class='byline'>By Sean Kane</p>
              <p class='origin'>Nov 2010</p>
          </a>
          <a class='related-article-item item-2' href='http://www.northbynorthwestern.com/story/chicago-blues/' target='_blank'>
              <h1 class='head'>Why Chicago blues is dying, even in its birthplace
              </h1>
              <p class='byline'>By Sarah Collins</p>
              <p class='origin'>June 2008</p>
          </a>
      </div>
  </footer>


  </main>

  <footer class='nbn-footer'>
  <div class='footer-block'>
  <div class='footer-item footer-left'>
      <p>Produced by <b>Audrey DeBruine</b> for North by Northwestern</p>
  </div>
  <div class='footer-item footer-center footer-links'>
      <a data-scroll data-options='{'updateURL': false}' href='#top'>Back to top</a>
      <a href='../../index.html'> &laquo; Back to magazine </a>
  </div>
  <div class='footer-item footer-right'>
    <p>&copy; North by Northwestern, December 6, 2018.</p> <p>All rights reserved.</p>
  </div>
  </div>
  </footer>

  {% block js %}
  <script type="text/javascript" src="../js/main-app.bundle.js"></script>

  {% endblock %}
</body>
</html>
