<!DOCTYPE html>
<html lang="en">

<script id='entry-template' type='text/x-handlebars-template'></script>
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-100076603-1'></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-100076603-1');
</script>

<meta property='og:site_name' content='North by Northwestern Fall 2017 Magazine' />
<meta property='fb:app_id' content='829210430557671'/>
<meta property='og:url' content='http://apps.northbynorthwestern.com/magazine/208/fall/Pregame/top-10/' />
<meta property='og:type' content='article' />
<meta property='og:title' content='Top ten top tens' />
<!-- <meta property='og:description' content='' /> -->
<meta property='og:image' content='http:'apps.northbynorthwestern.com/magazine/2017/fall/Pregame/top-10/cover_2000.jpg'' />
<!-- <meta name='author' content='Clarissa Wong' /> -->
<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:site' content='@nbn_tweets' />
<meta charset='utf-8'/>
<meta name='viewport' content='width=device-width+ initial-scale=1'>

<title>Top ten top tens | North by Northwestern Fall 2018 Magazine</title>

<link rel=stylesheet href='http://apps.northbynorthwestern.com/hungry/styles/22738433.main.css'>
<!-- <link rel='stylesheet' href='../../universal.css'>
<link rel='stylesheet' href='style.css'> -->

{% if env == 'production' %}
<link href="../css/main-app.css" rel="stylesheet">
{% endif %}


</head>
<body>
  {% block css %}
  {% if env == 'production' %}
  <link rel="stylesheet" href="../css/main-app.css">
  {% endif %}
  {% endblock %}

<header class='masthead masthead-down'>
  <div class='logo'>
      <a href='//apps.northbynorthwestern.com/magazine/2018/fall/'><img class=nbn-logo src='http://nbn-housing.s3.amazonaws.com/static/img/nbn-logo.png' alt=''></a>
  </div>
</header>
<main>
  <a id='top'></a>
  <article>

      <header class='article-meta'>
          <div class='headline'>
              <h1 class=''>Top ten top tens</h1>
              <h2 class='dek'></h2>
              <h3 class='byline'>By <a href='' target='_blank'>Clarissa Wong</a></h3>
          </div>
      </header>

      <div class='blackboard'>
          <p>With Northwestern’s new and improved U.S. News ranking, it’s hard not to feel proud that you go to a Top 10 school. Of course, academic ranking certainly merits recognition, but Northwestern excels in more than just education. Here’s a list of the best (and worst) our school has to offer.</p>



        <p class="section-hed">1. WORST LOOKING GUYS</p>

          <p>According to the incredibly trustworthy College Confidential, you’re more likely to swipe left than right on Tinder when searching for hot guys within a 5-mile radius. If you’re really committed to finding the perfect 10, you’re better off making the trek to Loyola or DePaul.</p>



        <p class="section-hed">2.  BEST (MOST DIFFICULT) CHEM DEPARTMENT</p>

          <p>If there’s one thing that unites every college in the U.S. it’s pre-med kids who whine about their rigorous course load. Northwestern is especially notorious for its challenging STEM classes, particularly in the chemistry department. When conversing with pre-med students, avoid the following trigger words: orgo, physio, GPA and MCAT.</p>



        <p class="section-hed">3. BEST VALUE COLLEGE IN THE CHICAGO AREA</p>

          <p>Good news — your $75k tuition isn’t going to waste! According to Niche, out of 38 schools in the Chicago area, Northwestern is worth the most for its price tag. Though you’ve probably experienced your fair share of quarter-life crises, sobbed about the absence of ice rinks and contemplated dropping out to flip burgers instead, you can rest easy knowing that your money is well spent.</p>



        <p class="section-hed">4. BEST STUDENT VOTER TURNOUT</p>

          <p>Despite the relatively low voter turnout in the 18-24 age range, Northwestern students are doing their civic duty. Let’s keep it up – maybe by 2020, we’ll no longer have a president who sends angry tweets for a living.</p>



        <p class="section-hed">5. MOST LIKELY TO BECOME ROYALTY</p>

          <p>Meghan Markle is the first American to marry into the British royal family. Her alma mater? Northwestern, of course. It won’t be long before Prince George will be looking for a fianceé, so now that Markle has impressed the British public and even the Queen herself, who knows? Maybe the next bride- to-be will also be a Wildcat.</p>



        <p class="section-hed">6. BEST COLLEGE FOR COMM MAJORS</p>

          <p>Northwestern’s impressive alumni list includes Hollywood big shots like Stephen Colbert, Julia Louis-Dreyfus and David Schwimmer. According to Niche, we’re ranked the no. 1 school for communications and the no. 3 school for performing arts. Who would have guessed that Ross from “Friends” received the best college education out of the group?</p>



        <p class="section-hed">7. BEST SCHOOL PRIDE</p>

          <p>There are football games, and then there are Big 10 football games, and then there are Northwestern vs. Notre Dame games. Anyone who’s ever been to a home game has witnessed the sea of purple pride and heard the Fight Song enough times to know it by heart. Even if the extent of your sports knowledge doesn’t go past Wii bowling, be sure to attend at least one game during your time here.</p>



        <p class="section-hed">8. BEST DRUNK FOOD</p>

          <p>Anyone who’s ever been to Fran’s past 1 a.m. knows that grilled cheese and waffle fries are objectively the best foods to eat while in a less-than-sober state. With unparalleled customer service and a menu that lives up to its hype, Fran’s never disappoints. Still, it’s a shame that Cheesie’s is no longer with us. RIP.</p>



        <p class="section-hed">9. BEST SPORTS COMPLEX</p>

          <p>Accessible to all! Budget-crisis friendly! Put to good use! These are things that the Ryan Fieldhouse is definitely not, but it doesn’t matter because our very own Morty Schapiro claims that it’s the best sports complex of its kind. Even though you can’t get into the building, you sure can admire its swanky facade from the outskirts. Then, knowing that you’ll never have the physical ability to qualify as a student- athlete, you can sadly walk to SPAC and bench press while listening to The Fray.</p>



        <p class="section-hed">10. BEST COLLEGE MUSIC FESTIVAL</p>

          <p>With Dillo Day artists like Chance the Rapper, Kendrick Lamar and the iconic Smash Mouth, it’s no surprise that Northwestern’s annual student-run music festival is one of the biggest and best among colleges in the U.S. Disclaimer: no real armadillos have ever been spotted on Northwestern’s campus.</p>




      </div>
  </article>

  <footer class='related-articles related-total-2' id='related-articles'>
     <h1>Related articles</h1>
      <div class='related-articles-row related-total-2'>
          <a class='related-article-item item-1' href='http://apps.northbynorthwestern.com/magazine/2018/spring/pregame/diy-duchess/index.html' target='_blank'>
              <h1 class='head'>DIY Duchess
              </h1>
              <p class='byline'>By Anabel Mendoza</p>
              <p class='origin'>June 2018</p>
          </a>
          <a class='related-article-item item-2' href='http://apps.northbynorthwestern.com/magazine/2017/winter/features/over-time/' target='_blank'>
              <h1 class='head'>Started from the bottom
              </h1>
              <p class='byline'>By Natalie Pertsovsky</p>
              <p class='origin'>March 2017</p>
          </a>
      </div>
  </footer>


  </main>

  <footer class='nbn-footer'>
  <div class='footer-block'>
  <div class='footer-item footer-left'>
      <p>Produced by <b>Audrey DeBruine</b> for North by Northwestern</p>
  </div>
  <div class='footer-item footer-center footer-links'>
      <a data-scroll data-options='{'updateURL': false}' href='#top'>Back to top</a>
      <a href='../../index.html'> &laquo; Back to magazine </a>
  </div>
  <div class='footer-item footer-right'>
    <p>&copy; North by Northwestern, December 6, 2018.</p> <p>All rights reserved.</p>
  </div>
  </div>
  </footer>

  {% block js %}
  <script type="text/javascript" src="../js/main-app.bundle.js"></script>

  {% endblock %}
</body>
</html>
