<!DOCTYPE html>
<html lang="en">

<script id='entry-template' type='text/x-handlebars-template'></script>
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-100076603-1'></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-100076603-1');
</script>

<meta property='og:site_name' content='North by Northwestern Fall 2017 Magazine' />
<meta property='fb:app_id' content='829210430557671'/>
<meta property='og:url' content='http://apps.northbynorthwestern.com/magazine/208/fall/Dance Floor/student-startups/' />
<meta property='og:type' content='article' />
<meta property='og:title' content='4 student start-ups you’ve never heard of' />
<!-- <meta property='og:description' content='Opening the Garage doors to student businesses on campus that aren’t Brewbike.' /> -->
<meta property='og:image' content='http:'apps.northbynorthwestern.com/magazine/2017/fall/Dance Floor/student-startups/cover_2000.jpg'' />
<!-- <meta name='author' content='Amy Ouyang' /> -->
<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:site' content='@nbn_tweets' />
<meta charset='utf-8'/>
<meta name='viewport' content='width=device-width+ initial-scale=1'>

<title>4 student start-ups you’ve never heard of | North by Northwestern Fall 2018 Magazine</title>

<link rel=stylesheet href='http://apps.northbynorthwestern.com/hungry/styles/22738433.main.css'>
<!-- <link rel='stylesheet' href='../../universal.css'>
<link rel='stylesheet' href='style.css'> -->

{% if env == 'production' %}
<link href="../css/main-app.css" rel="stylesheet">
{% endif %}


</head>
<body>
  {% block css %}
  {% if env == 'production' %}
  <link rel="stylesheet" href="../css/main-app.css">
  {% endif %}
  {% endblock %}

<header class='masthead masthead-down'>
  <div class='logo'>
      <a href='//apps.northbynorthwestern.com/magazine/2018/fall/'><img class=nbn-logo src='http://nbn-housing.s3.amazonaws.com/static/img/nbn-logo.png' alt=''></a>
  </div>
</header>
<main>
  <a id='top'></a>
  <article>
      <div class="header-img">
        <img src="http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2018/12/03/Banner2.jpg">
      </div>
      <p class='photo-byline byline'><a href='' target='_blank'><b></b></a> / <i>North by Northwestern</i></p>

      <header class='article-meta'>
          <div class='headline'>
              <h1 class=''>4 student start-ups you’ve never heard of</h1>
              <h2 class='dek'>Opening the Garage doors to student businesses on campus that aren’t Brewbike.</h2>
              <h3 class='byline'>By <a href='http://www.northbynorthwestern.com/author/amyouyang/' target='_blank'>Amy Ouyang</a></h3>
          </div>
      </header>

      <div class='blackboard'>

        <p class="section-hed">Wildcat Naps: a mattress rental service</p>

          <p>Living conditions in student dorms have become a central concern for Northwestern students</p>


          <p>with the requirement of two-year on-campus housing. This provided the opportunity for Wildcat Naps, a mattress rental service. Although Wildcat Naps launched in 2018, it has already successfully sold around 50 beds to Northwestern students — both on-campus and off-campus — according to co-founder Marisa Hattler.</p>


          <p>For Hattler, Wildcat Naps offers something that she never expected running a mattress rental business: heavy labor.</p>


          <p>“I have never realized that those beds are really heavy. I still remember after my first day lifting beds and moving them around, my whole body was extremely sore for the next few days,” Hattler says.</p>



        <p class="section-hed">Litterbox: A moving and storage helper</p>

          <p>Toward the end of spring quarter, USS and UPS are constantly fighting for potential customers as students walk by the Arch or Tech. This year, they’ll have a new contender: Litterbox. Founder Peter Dorward, a McCormick sophomore, has built a team to make the moving and storage process less stressful for Northwestern students by providing satisfactory customer service at a good value.</p>


          <p>“Customers were able to save more than 50 percent on USS’s prices using our basic package, and up to 37.5 percent on USS’s prices using our concierge package last year,” Dorward says.</p>


          <p>After choosing to store the boxes in a nearby warehouse facility, Dorward wanted to ensure that customers’ items were cared for and returned. He found a solution to customers being dissatisfied with high prices and mediocre service.</p>


          <p>“We made an inventory of all the boxes,” he explains. “I also diagramed where each of them was stored.”</p>



        <p class="section-hed">Connect and Care: a platform for non-profits</p>

          <p>SESP sophomore Matthew Zients wanted to maximize the time that people spent on their phones, which sparked the creation of Connect and Care. Zients and his team designed a mobile app where users can browse, learn about and donate to non-profit organizations around the world. Established for barely a year, the team has grown to include ten people in total. Connect and Care is based in Evanston and Washington, D.C., Zients’ hometown.</p>


          <p>Strangely enough, this startup centered around non-profit organizations was first inspired by a Venmo sign. “I went to this protest event last year and on campus, and there was one student holding up a Venmo sign and the name for getting donations. I think that’s interesting. Maybe we can use that, and then comes Connect and Care,” Zients says.</p>



        <p class="section-hed">Free Flow: A bike rental service</p>

          <p>Getting from Fisk to Ford in 15 minutes is a lot easier when you have a bike, but not all students make the investment. This led Communications senior Robert Babich and Weinberg junior John Gustafson to launch Free Flow, a cycle rental service they hoped to make more reliable than Facebook’s Free and For Sale or Craigslist.</p>


          <p>After receiving three reports of missing bikes, however, Babich and Gustafson were met with a challenge. In response, Babich pursued a somewhat unconventional approach. He invited four Evanston bike thieves together for a talk.</p>


          <p>“The interview we had with these bike thieves finally led to the design of our security system, which installs a tracking device to help us locate the bike when it is reported stolen,” Babich says.</p>


          <p>These tracking devices that register tampering, cutting, and otherwise messing with hardware activate on their own when the bike is missing, which means the user’s privacy isn’t invaded.</p>




      </div>
  </article>

  <footer class='related-articles related-total-2' id='related-articles'>
     <h1>Related articles</h1>
      <div class='related-articles-row related-total-2'>
          <a class='related-article-item item-1' href='http://www.northbynorthwestern.com/story/a-new-student-run-business-thetable/' target='_blank'>
              <h1 class='head'>Meet Northwestern&#x27;s newest startup: The Table
              </h1>
              <p class='byline'>By Joely Simon</p>
              <p class='origin'>April 2018</p>
          </a>
          <a class='related-article-item item-2' href='http://www.northbynorthwestern.com/story/brew-bikes-daily-grind/' target='_blank'>
              <h1 class='head'>BrewBike&#x27;s Daily Grind
              </h1>
              <p class='byline'>By Tyler Kendall</p>
              <p class='origin'>May 2017</p>
          </a>
      </div>
  </footer>


  </main>

  <footer class='nbn-footer'>
  <div class='footer-block'>
  <div class='footer-item footer-left'>
      <p>Produced by <b>Audrey DeBruine</b> for North by Northwestern</p>
  </div>
  <div class='footer-item footer-center footer-links'>
      <a data-scroll data-options='{'updateURL': false}' href='#top'>Back to top</a>
      <a href='../../index.html'> &laquo; Back to magazine </a>
  </div>
  <div class='footer-item footer-right'>
    <p>&copy; North by Northwestern, December 6, 2018.</p> <p>All rights reserved.</p>
  </div>
  </div>
  </footer>

  {% block js %}
  <script type="text/javascript" src="../js/main-app.bundle.js"></script>

  {% endblock %}
</body>
</html>
