<!DOCTYPE html>
<html lang="en">

<script id='entry-template' type='text/x-handlebars-template'></script>
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-100076603-1'></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-100076603-1');
</script>

<meta property='og:site_name' content='North by Northwestern Fall 2017 Magazine' />
<meta property='fb:app_id' content='829210430557671'/>
<meta property='og:url' content='http://apps.northbynorthwestern.com/magazine/208/fall/Pregame/life-advice/' />
<meta property='og:type' content='article' />
<meta property='og:title' content='Life advice with Gerry Chiaro' />
<!-- <meta property='og:description' content='' /> -->
<meta property='og:image' content='http:'apps.northbynorthwestern.com/magazine/2017/fall/Pregame/life-advice/cover_2000.jpg'' />
<!-- <meta name='author' content='Dan Rosenzweig-Ziff' /> -->
<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:site' content='@nbn_tweets' />
<meta charset='utf-8'/>
<meta name='viewport' content='width=device-width+ initial-scale=1'>

<title>Life advice with Gerry Chiaro | North by Northwestern Fall 2018 Magazine</title>

<link rel=stylesheet href='http://apps.northbynorthwestern.com/hungry/styles/22738433.main.css'>
<!-- <link rel='stylesheet' href='../../universal.css'>
<link rel='stylesheet' href='style.css'> -->

{% if env == 'production' %}
<link href="../css/main-app.css" rel="stylesheet">
{% endif %}


</head>
<body>
  {% block css %}
  {% if env == 'production' %}
  <link rel="stylesheet" href="../css/main-app.css">
  {% endif %}
  {% endblock %}

<header class='masthead masthead-down'>
  <div class='logo'>
      <a href='//apps.northbynorthwestern.com/magazine/2018/fall/'><img class=nbn-logo src='http://nbn-housing.s3.amazonaws.com/static/img/nbn-logo.png' alt=''></a>
  </div>
</header>
<main>
  <a id='top'></a>
  <article>
      <div class="header-img">
        <img src="http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2018/12/03/life-advice.jpg">
      </div>
      <p class='photo-byline byline'><a href='' target='_blank'><b></b></a> / <i>North by Northwestern</i></p>

      <header class='article-meta'>
          <div class='headline'>
              <h1 class=''>Life advice with Gerry Chiaro</h1>
              <h2 class='dek'></h2>
              <h3 class='byline'>By <a href='http://www.northbynorthwestern.com/author/danrosenzweigziff/' target='_blank'>Dan Rosenzweig-Ziff</a></h3>
          </div>
      </header>

      <div class='blackboard'>
          <p>Gerry Chiaro found his way to Northwestern after the 2008 recession left him questioning his career in the marketing industry. Now in an educational role he says he was always destined for, Chiaro leads IMC’s immersion quarter, where graduate students get paired with companies in a marketing role to get hands-on work in their desired fields. Having experienced his share of hardships, including the death of his father and a health scare that left him questioning if he would live past 40, Chiaro finds peace in baseball, which links four generations of his family together. Through lessons learned while working at nationally-recognized brands PepsiCo and McDonalds, Chiaro preaches to his students the idea of taking risks and tackling big issues through positive energy.</p>



        <p class="section-hed">On students who are struggling:</p>

          <p>“You don’t realize how special and gifted you are because everyone around you is that. So you compete against the cream of the crop, the top one or two percent in your age group in the entire world. And it’s just not going to be like that when you get out. It won’t be as intense or competitive as you’re putting on yourselves. So take care of yourself. Go a little bit easy on yourself and realize where you are, what you’ve accomplished and achieved already, and take that to heart.”</p>



        <p class="section-hed">Keys to success:</p>

          <p>“The first one is effort. You have to give everything you’ve got and more sometimes. That’s true in sports, that’s true in life, that’s true in relationships. The second is energy. There’s a bunch of different kinds of energy out there and you want to represent the positive energy. You want to be the one who adds energy to the room, not takes it away. The last one is empathy. You really have to care about what you do and the people you do it with. And if you can just embrace those three things when you’re down and not really feeling like you got it, push a little further.”</p>



        <p class="section-hed">On baseball:</p>

          <p>“It meant a lot to me in my life. This is the most valuable baseball in the world, because [my son] Michael gave it to me. [Picks up a baseball from his desk.] This was the last game he pitched. He came off the field and gave me the ball and said, ‘This is for you.’ A week before, he had pitched another really good game in West Virginia and then came home to see my father who was very ill. We went and saw my dad and my dad passed away that same night. He almost waited to see Michael. He went back to finish up his season and I went to the final game and he came off the field and gave me this. He had my dad’s initials on his hat. He said, ‘This is for Grandpa Alex.’ And then I think about how I got this passion for the game. All of that is symbolized in this one little baseball.”</p>



        <p class="section-hed">On listening to advice:</p>

          <p>“Back when I was with PepsiCo, one of the reports on me came back that said my skills were better set for teaching, and I didn’t believe it. I thought, ‘I’m on track to be an executive in this company, and why would it be different? What did I miss?’ It took years to internalize that I was wrong. You get these different signals in your life and career that you need to do something, whether it’s switch your job or ask someone to marry you or decide to have a family. I guess this just came at the right time for me. If the recession didn’t hit and I was continuing to be as successful at securing clients and earning a living for my family, I probably would have never opened this up.”</p>


          <p>*This interview has been edited and condensed for clarity.</p>




      </div>
  </article>

  <footer class='related-articles related-total-2' id='related-articles'>
     <h1>Related articles</h1>
      <div class='related-articles-row related-total-2'>
          <a class='related-article-item item-1' href='http://apps.northbynorthwestern.com/magazine/2018/spring/pregame/life-advice/index.html' target='_blank'>
              <h1 class='head'>Life Advice From Frances Aparicio
              </h1>
              <p class='byline'>By Mila Jasper</p>
              <p class='origin'>June 2018</p>
          </a>
          <a class='related-article-item item-2' href='http://apps.northbynorthwestern.com/magazine/2018/winter/pregame/life-advice/index.html' target='_blank'>
              <h1 class='head'>Life Advice from Tracy Vaughn-Manley
              </h1>
              <p class='byline'>By Ivy Fung</p>
              <p class='origin'>March 2018</p>
          </a>
      </div>
  </footer>


  </main>

  <footer class='nbn-footer'>
  <div class='footer-block'>
  <div class='footer-item footer-left'>
      <p>Produced by <b>Audrey DeBruine</b> for North by Northwestern</p>
  </div>
  <div class='footer-item footer-center footer-links'>
      <a data-scroll data-options='{'updateURL': false}' href='#top'>Back to top</a>
      <a href='../../index.html'> &laquo; Back to magazine </a>
  </div>
  <div class='footer-item footer-right'>
    <p>&copy; North by Northwestern, December 6, 2018.</p> <p>All rights reserved.</p>
  </div>
  </div>
  </footer>

  {% block js %}
  <script type="text/javascript" src="../js/main-app.bundle.js"></script>

  {% endblock %}
</body>
</html>
