<!DOCTYPE html>
<html lang="en">

<script id='entry-template' type='text/x-handlebars-template'></script>
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-100076603-1'></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-100076603-1');
</script>

<meta property='og:site_name' content='North by Northwestern Fall 2017 Magazine' />
<meta property='fb:app_id' content='829210430557671'/>
<meta property='og:url' content='http://apps.northbynorthwestern.com/magazine/208/fall/Dance Floor/res-services/' />
<meta property='og:type' content='article' />
<meta property='og:title' content='On Call' />
<!-- <meta property='og:description' content='Being an RA comes with free room, board, dining and a $1500 stipend. So why is it the worst job on campus?' /> -->
<meta property='og:image' content='http:'apps.northbynorthwestern.com/magazine/2017/fall/Dance Floor/res-services/cover_2000.jpg'' />
<!-- <meta name='author' content='Elizabeth Guthrie' /> -->
<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:site' content='@nbn_tweets' />
<meta charset='utf-8'/>
<meta name='viewport' content='width=device-width+ initial-scale=1'>

<title>On Call | North by Northwestern Fall 2018 Magazine</title>

<link rel=stylesheet href='http://apps.northbynorthwestern.com/hungry/styles/22738433.main.css'>
<!-- <link rel='stylesheet' href='../../universal.css'>
<link rel='stylesheet' href='style.css'> -->

{% if env == 'production' %}
<link href="../css/main-app.css" rel="stylesheet">
{% endif %}


</head>
<body>
  {% block css %}
  {% if env == 'production' %}
  <link rel="stylesheet" href="../css/main-app.css">
  {% endif %}
  {% endblock %}

<header class='masthead masthead-down'>
  <div class='logo'>
      <a href='//apps.northbynorthwestern.com/magazine/2018/fall/'><img class=nbn-logo src='http://nbn-housing.s3.amazonaws.com/static/img/nbn-logo.png' alt=''></a>
  </div>
</header>
<main>
  <a id='top'></a>
  <article>

      <header class='article-meta'>
          <div class='headline'>
              <h1 class=''>On Call</h1>
              <h2 class='dek'>Being an RA comes with free room, board, dining and a $1500 stipend. So why is it the worst job on campus?</h2>
              <h3 class='byline'>By <a href='http://www.northbynorthwestern.com/author/elizabethguthrie/' target='_blank'>Elizabeth Guthrie</a></h3>
          </div>
      </header>

      <div class='blackboard'>
          <p>When McCormick junior and former Resident Assistant (RA) Noah Alvarado decided to go on an Alternative Student Break trip last winter break, he let his Resident Director (RD) know immediately. Although the trip was months away, he needed permission from his RD to leave during finals week rather than stay the extra three days required for RAs to do room checks. His RD approved his request to leave early, so he was shocked to learn at the end of the quarter that he was on probation due to the early departure.</p>


          <p>But probation wasn’t the end of it – when Alvarado returned for winter quarter, he was let go from the position entirely. Resident Directors had conducted room checks of the RAs’ rooms over the break and found beer in his closet. They claimed they could see alcohol from his open closet door, but Alvarado is confident they searched through his room, which is against the University’s policy. However, before being fired, Alvarado already decided not to continue his job as an RA.</p>


          <p>“I was planning on just finishing the year out and not applying again,” he says. “I wasn’t really getting any benefit.”</p>


          <p>An RA’s duties are extensive – they have to take care of residents’ issues, deal with maintenance problems like broken water fountains, decorate bulletin boards each month, attend weekly meetings and do shifts at the RA desk and as the RA on duty, which means they must be available in the building. In return, they receive a stipend of $500 per quarter and free room and board. Free housing was the main reason Alvarado applied for the job, but it came with a catch: the financial aid office treated the free room and board like an outside scholarship, which means it was deducted from his financial aid. “There basically wasn’t really any change in how much I was paying for school,” he says. “So that was really unfortunate.”</p>


          <p>Alvarado’s relationship with his RD was another reason he didn’t mind leaving the RA job. “There was a lot of tension between me and my boss,” he says. “None of us really had a great relationship with [her].”</p>


          <p>He also felt that the Residential Services administration was mostly talkand no action. For example, they expected RAs to hold more events so that residents could have fun in the dorms. But they didn’t give them any extra funding, and also didn’t seem to consider how extra duties would impact the RAs.</p>


          <p>“There’s only so much that an RA can do from a time perspective. I don’t have time to host an event every week,” he says.</p>


          <p>Associate Director of Residential Life Paul Hubinsky understands that the duties can be overwhelming for students. “It’s a job and a leadership position. It’s demanding,” he says. “I think the reality of getting into that job could be a little different for some folks, and it’s a little harder to balance than they thought it might be.”</p>


          <p>When RAs feel overwhelmed with their duties, they should be able to turn to their RD, their direct supervisor, for help. Each RA has bi-weekly meetings with their supervisor so they can bring up issues they may have with the job. “That person’s role is really to help support them through those difficult times when it might become a little bit too much for them, or they might feel overwhelmed by responsibilities,” says Nikki Dunham, Assistant Director of Residential Life.But Weinberg senior and former RA Yesh Vempati says there was little understanding of students’ busy schedules.</p>


          <p>“Residential Life is incredibly inefficient, and they don’t really take into account students’ time or schedules,” Vempati says. He felt unsupported by his supervisor. They seemed understanding at first, but in performance reviews they left negative comments about him not spending enough time in the building. “They would be like, ‘Oh, let me know if you need help,’ but at the same time, their actions contradicted what they would say.”</p>


          <p>Former RA and Weinberg junior Yuxi Han’s experience was more ideal. “I consider the one-on-ones more as a session that I can just like maybe complain about something that I’m not happy with, or just a regular catch-up,” she says.</p>


          <p>There are many avenues for RAs to give feedback on their supervisors and issues with the RA position – they’re encouraged to give feedback in one-on-one sessions, they fill out anonymous surveys at the end of every fall quarter, and the Director of Residential Life facilitates an RA advisory board. Hubinsky says the board has used the feedback, such as adjusting the hours for RA desk duty.</p>


          <p>However, Vempati didn’t see any change. “You could always give feedback, but it was pretty much never heard,” he says. “So you just kind of have to deal with it, which is why a lot of RAs that I know quit.”</p>


          <p>Ultimately, it led Vempati to quit as well. “I didn’t think I could do one more year of that,” he says. “It’s kind of condescending the way they treat RAs, and I didn’t want to be a part of that.”</p>


          <p>Another aspect of the job that bothered Alvarado was the inconsistency. “If your boss doesn’t like you, you’re kind of screwed,” he says. “But if you stay on her good side or whatever, you can probably get away with anything.”</p>


          <p>Alvarado and Vempati both saw this in action when RAs accused with allegations of sexual assault and misconduct were allowed to remain on staff. During her sophomore year, Noelle Ike, a fifth-year dual degree student in Bienen and Medill, found out that an RA sexually assaulted one of her friends, who was also an RA. After her friend came forward, Ike heard other stories of sexual misconduct involving this RA.</p>


          <p>As these events unfolded, Ike led her first group of PA kids through their first year. She thought about her PA students who lived in this RA’s residence hall and took action to ensure her students and her community would be safe. She and five other students reported his behavior to the Title IX office.</p>


          <p>Ultimately, nothing came of these complaints – the RA remained on staff and no action was taken. According to Hubinsky, Res Services follows a specific protocol when Title IX complaintsare filed against RAs, and they decide whether to fire the RA based on the result of the investigation.</p>


          <p>But the RA was rehired for the next year, along with the woman he assaulted. She had a restraining order against him, and they had to be in separate rooms during training. According to an anonymous student, some of the women on his staff were uncomfortable working with him.</p>


          <p>He made advances toward them and wouldn’t let up when they said no. Ike and Vempati were both disappointed that the student remained on staff despite the many allegations against him.</p>


          <p>“It was so appalling that nothing could happen, because being an RA is a privilege,” Ike says. “We weren’t looking for legal action. We were just asking that he doesn’t have privileges above what any student would have.”</p>


          <p>The University is conducting an Undergraduate Residential Experience Initiative, a plan to transform student housing and the residential experience. Res Services is figuring out what that means for the RA job, an essential question as Res Services plans the upcoming initiative. “It’s very very important to us to get the RA role right,” Dunham says. “To make it feasible to integrate with the very fast-paced, high academic achieving environment of Northwestern, so that we can support our student leaders as people, as students and as RAs.”</p>


          <p>However, it seems that there is a disparity between the transformation Res Services envisions and the former RAs expectations. Han, Alvarado and Vempati all feel that no real change will be made with the initiative.</p>


          <p>“They’ll read it, but the chances that they change it is pretty low,” Vempati says. “But maybe they have to keep hearing it until something clicks.”</p>




      </div>
  </article>

  <footer class='related-articles related-total-2' id='related-articles'>
     <h1>Related articles</h1>
      <div class='related-articles-row related-total-2'>
          <a class='related-article-item item-1' href='http://www.northbynorthwestern.com/story/everything-you-need-to-know-from-the-undergraduate/' target='_blank'>
              <h1 class='head'>Everything you need to know from the new report on the undergraduate residential experience
              </h1>
              <p class='byline'>By Leo Ji</p>
              <p class='origin'>January 2018</p>
          </a>
          <a class='related-article-item item-2' href='http://www.northbynorthwestern.com/story/no-more-cleaning-services-in-suite-style-residence/' target='_blank'>
              <h1 class='head'>Suite-style residences lose bathroom cleaning services
              </h1>
              <p class='byline'>By Yoonjie Park</p>
              <p class='origin'>October 2017</p>
          </a>
      </div>
  </footer>


  </main>

  <footer class='nbn-footer'>
  <div class='footer-block'>
  <div class='footer-item footer-left'>
      <p>Produced by <b>Audrey DeBruine</b> for North by Northwestern</p>
  </div>
  <div class='footer-item footer-center footer-links'>
      <a data-scroll data-options='{'updateURL': false}' href='#top'>Back to top</a>
      <a href='../../index.html'> &laquo; Back to magazine </a>
  </div>
  <div class='footer-item footer-right'>
    <p>&copy; North by Northwestern, December 6, 2018.</p> <p>All rights reserved.</p>
  </div>
  </div>
  </footer>

  {% block js %}
  <script type="text/javascript" src="../js/main-app.bundle.js"></script>

  {% endblock %}
</body>
</html>
